@{
  Layout = "_Layout";
}

<h1>Hello Claire! What can I do for you?</h1>
<p>@Html.ActionLink("View all Stylists", "Index", "Stylists")</p> 
<p>@Html.ActionLink("Add a Stylist", "Create")</p>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

