@{
  Layout = "_Layout";
}

<h1>Hello Claire! What can I do for you?</h1>
<p>@Html.ActionLink("Manage Stylists", "Index", "Stylists")</p> 
<p>@Html.ActionLink("Manage Clients", "Index", "Clients")</p>

